@import url('https://fonts.googleapis.com/css?family=Roboto:700');

:root {
  --primary-color: #0275d8;
  --secondary-color: #f0ad4e;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* p, span {
  color: black;
}

footer span {
  color: white;
}

.portfolio-piece {
  width: 100%;
  padding: 0px;
  opacity: 0;
  transition: all .5s ease-out;
}

.portfolio-piece.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* navbar styling */

nav {
  background: var(--primary-color);
}

.nav-container {
  margin: 0 auto;
}

.nav-col {
  padding: 0px;
}

.nav-links-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  width: 100%;
  margin-bottom: 0px;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--secondary-color);
}

.brand-logo {
  width: 12%
}

/* side social */

.side-social {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}

.side-social:nth-child(1) {
  background: red;
}

.side-social a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.github {
  background: #211F1F;
}

.linkedin {
  background: #0077b5;
}

.globe {
  background: #4b11a8;
}

.github,
.linkedin,
.globe {
  color: #0a192f;
}

/* hero section */

.hero-section {
  background-image: url('https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=949&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0rem;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-section-text {
  z-index: 1;
  position: relative;
}

#intro-hi {
  color: white;
  z-index: 1;
}

#intro-name {
  color: white;
  font-size: clamp(40px, 8vw, 80px);
  z-index: 1;
}

#intro-final {
  color: white;
  font-size: clamp(40px, 8vw, 80px);
  z-index: 1;
}

#intro-paragraph {
  color: white;
  width: 50%;
  z-index: 1;
}

/* About me section */

.header-text {
  color: black;
  border-bottom: 1px solid black;
  width: 30%;
}

.mobile-nav,
.mobile-menu {
  display: none;
}

/* general themes */

.underlines {
  width: 555px;
}

/* top text area */

.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

/* top social media */

.top-github,
.top-linkedin,
.top-email {
  font-size: 28px;
  width: 32px;
}

.profile_picture {
  width: 60%;
  border-radius: 10px;
  box-shadow: 30px 30px 0px #0a192f, 32px 32px 0px var(--secondary-color);
}

/* SKILLS */

.skills {
  display: block;
  clear: both;
}

.skill-pic > i {
  font-size: 100px;
  color: black;
}

.top-link {
  float: right;
  color: #0a192f;
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: 3px;
  width: 32px;
}

ul.social-media {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

.social-media li {
  display: inline-block;
}

/* skills */
.skill-pic {
  font-size: 32px;
}

.skill-row {
  margin-bottom: 32px;
}

/* Portfolio Projects */

.card {
  background-color: var(--primary-color);
  border: none;
  box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.3);
}

.card p {
  color: white;
}

.card-title {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

.zoomImage {
  overflow: hidden;
  text-align: center;
}

img {
  transition: 0.75s;
  z-index: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.child {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  justify-content: stretch;
}

/* Contact section */

.contact-section {
  display: flex;
}

.contact-section > div {
  flex: 1;
}

.contact-section-column-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-section-info {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.fa-map-marker-alt {
  color: #dd4b3e;
}

.fa-envelope {
  color: #34A853;
}

.social-menu ul {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 0px;
}

.social-menu ul li {
  list-style: none;
  margin: 0 1rem;
}

.social-menu ul li .fab,
.social-menu ul li .fas {
  font-size: 2rem;
  line-height: 4rem;
  transition: .6s;
}

.social-menu ul li:hover 
.fab {
  color: white;
}

.social-menu ul li:hover 
.fas {
  color: white;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  transition: .6s;
}

.social-menu ul li a:hover {
  background-color: black;
}

.social-menu ul li a .fa-github-alt {
  color: #211F1F;
}

.social-menu ul li a .fa-linkedin-in {
  color: #0077B5;
}

.social-menu ul li a .fa-envelope {
  color: #34A853;
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #211F1F;
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #0077B5;
}

.social-menu ul li:nth-child(3) a:hover {
  background-color: #34A853;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: .5rem;
  margin-bottom: 1rem;
  width: 100%;
  background: #e6e6e6;
  border: none;
  border-radius: 5px;
}

.form-textarea {
  resize: vertical;
}

.submit-btn {
  float: right;
}

#status {
  text-align: center;
  border-radius: 8px;
  width: 50%;
  float: right;
  padding: .5rem;
}

#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}

#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status{
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* Footer */

footer {
  z-index: 1;
  background-color: var(--primary-color);
  color: white;
  margin-top: 5rem;
}

/* bottom social media */

ul.social-media li a i {
  color: #8892b0;
}

.bottom-github,
.bottom-linkedin,
.bottom-email,
.bottom-resume {
  font-size: 32px;
}

ul.social-media {
  padding-left: 0;
}

/* project pages styles */

@media (max-width: 600px) {

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .desktop-nav {
    display: none;
  }

  .hero-section {
    margin-top: 0px!important;
  }

  /* mobile nav */

  .menu-toggle,
  .menu-exit {
    width: 100%;
    color: #ccd6f6;
    font-size: 24px;
    display: flex;
    padding-top: 1em;
    padding-right: 1em;
    justify-content: flex-end;
    margin-bottom: 2em;
  }

  .mobile-nav {
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #0a192f;;
    position: fixed;
    width: 0px;
    z-index: 10001;
    height: 100vh;
    margin-top: 0px;
    top: 0;
    left: 0;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .mobile-nav ul {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .mobile-nav ul li:nth-child(1) {
    border-top: 1px solid #ccd6f6;
  }

  .mobile-nav ul li {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #ccd6f6;
  }

  .mobile-nav ul li a {
    font-size: 2em;
  }

  .profile_picture {
    width: 100%;
  }

  /* skills */
  .skill-pic {
    font-size: 44px;
  }

  .skill-row {
    margin-bottom: 0;
  }

  .title,
  .top-social-media {
    width: 300px;
  }

  /* top text area mobile-view */
  .typing-txt {
    font-size: 24px;
  }

  /* new mobile styles 2020 theme  */

  .side-social {
    display: none;
  }

  .hero-section {
    text-align: center;
  }

  #intro-paragraph {
    width: 100%;
  }

  /* header titles mobile view */

  .header-text {
    width: 100%;
    text-align: center;
    border-bottom: none;
    margin-bottom: 1em;
  }

  /* profile picture mobile view */

  .profile_picture {
    box-shadow: none;
  }

  /* project cards */

  div.grid.container {
    grid-template-columns: 100%;
  }

  /* footer mobile view */

  ul.social-media {
    width: 100%;
  }

  /* specific project pages mobile view */

  .project-page-picture {
    margin-top: 2em;
    width: 100%;
  }

}

@media (min-width: 601px) {

  /* Spacing between sections */
  .hero-section,
  #about-section,
  #skills-section,
  #projects-section,
  #contact-section {
    margin-bottom: 10em;
  }

  .header-text {
    margin-bottom: 3em;
  }

  .menu-toggle {
    display: none;
  }
}